body {
  padding: 20px;
}

.text{
  padding: 10px 0px 10px 0px;
  color: white;
}

#paperPlane{
   /*background-image: url("http://previews.123rf.com/images/photoauris/photoauris1110/photoauris111000004/11011469-high-resolution-seamless-cork-texture-Stock-Photo-wood.jpg");*/
   background-color: #6371B7;
   position: absolute; 
   overflow: hidden;
   width: 150px;
   height: 800px;
   top: 50px;
   right: 5px;
   padding: 0px 20px 20px 20px;
}



